services:
  db:
    image: mysql:8.0.44
    restart: always
    environment:
      MYSQL_DATABASE: newsfeed
      MYSQL_PASSWORD: alisher0505
      MYSQL_ROOT_PASSWORD: kanye0505
      MYSQL_USER: keykibatyr
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  adminer:
    image: adminer
    restart: always
    environment:
      ADMINER_DESIGN: dracula
    ports:
      - 3333:8080


volumes:
  db_data:

  